.App {
  text-align: center;
  width:95%;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mapContainer {
  top: 20px;
  width: 80%;
  height: 70vh;
  left: 0;
  bottom: 0;
  display: block;
  margin: 0 auto;
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer !important;
  padding: 0;
}

.mapboxgl-popup {
  width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.weatherIcon {
  width: 50px;
}

p, h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

.currentKpi:not(:last-child) {
  border-right: 1px solid rgb(145, 145, 145);
  margin-top: 2em;
}

.currentKpi p, .currentKpi h4 {
  text-align: center;
}

@media only screen and (max-width: 599px) {
  .currentKpi:not(:nth-last-child(1)):not(:nth-last-child(2)) {
    border-bottom: 1px solid rgb(145, 145, 145);
  }

  .currentKpi:not(:nth-last-child(2)):not(:nth-last-child(4)) {
    border-right: 0px;
  }

  .currentKpi:not(:nth-last-child(3)):not(:nth-last-child(4)) {
    margin-top: 0;
  }
}
